.games {
    width: 90%;
    max-width: 768px;
    margin: 5vh auto;
    background-image: url('https://i.postimg.cc/9FLnksfq/image.png');
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.games .cards{
    background: rgba(000, 000, 000, 0.6);
    border-radius: 20px;
    max-height: 70vh;
    min-height: 50vh;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: flex-end;
    grid-gap: 20px;
}
.games .cards a {
    text-decoration: none;
    font-size: 15px;
    color: #000000;
}
.games .cards .card {
    min-width: 150px;
    background: #e4e3e3;
    padding: 20px;
    border-radius: 20px;
    display: flex;
}
.games .cards .card img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

@media screen and (max-width: 845px) {
    .games .cards {
        grid-template-columns: repeat(2, auto);
    }
}
@media screen and (max-width: 564px) {
    .games .cards {
        grid-template-columns: auto;
    }
}